.toppanel-component-container {
  .App-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 30px;
    color: #252538;

    .header {
      font-family: 'Unna', serif;
      font-size: 40px;
      font-style: italic;
      font-weight: bold;
      color: #3f51b5; //#2b9f8b;
      white-space: nowrap;
      cursor: pointer;

      .beta {
        font-size: 18px;
        color: #f4b8a2;
      }
    }

    .sub-header {
      font-size: 18px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  
    .nav {
      display: flex;
      align-items: center;
  
      .nav-item {
        font-size: 12px;
        margin: 10px;
      }
    }
  }

  .container-search {
    padding: 30px;
    background: #3f51b5;

    .container-search-inner {
      width: fit-content;
      margin: 0 auto;

      .search-area {
        background: #fff;
        padding: 10px 20px;
        border-radius: 10px;
        width: fit-content;
        margin: 0 auto;
      }

      .input-flag {
        width: 40px;
        display: flex;

        svg {
          width: 100%;
        }
      }
  
      .input-search {
        width: 200px;
        font-size: 18px;
      }
  
      .dropdown {
        min-width: 200px;
        font-size: 16px;
        padding: 0 11px;
      }

      .dropdown-translate-lang {
        margin: 10px;

        .text {
          display: flex;
          color: #fff; //#1677ff;
          cursor: pointer;

          .input-flag {
            margin: 2px 5px 2px 10px;
          }
        }
      }
    }

  }

  &.pages {
    .App-header {
      padding: 10px 30px;
      align-items: center;

      .header {
        font-size: 24px;
        font-style: italic;
        font-weight: bold;
      }

      .sub-header {
        font-size: 12px;
      }
    }

    .container-search {
      display: flex;
      justify-content: left;
      padding: 10px 30px 0;

    }
  }
}

.ori-lang-choice {
  display: flex;
  align-items: center;

  .text {
    margin: 0 5px;
  }
}
